<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Centro de Votación - UTN</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <style>
        body {
            background-color: #f4f7f6; /* Fondo gris muy suave */
        }

        .header-votacion {
            background: #4e73df;
            color: white;
            padding: 20px 0;
            margin-bottom: 40px;
            box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        }
    </style>
</head>
<body>

    <header class="header-votacion text-center">
        <div class="container">
            <h2 class="m-0 fw-bold">
                <i class="fa-solid fa-university me-2"></i>
                UNIVERSIDAD TÉCNICA DEL NORTE
            </h2>
        </div>
    </header>

    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>