/* wwwroot/css/login.css */

/* Fondo degradado  para el Login */
body.login-page {
    background: #121212 !important;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Ajustes del contenedor */
.login-container-wrapper {
    width: 100%;
    padding: 0;
}

/* Diseño de la tarjeta blanca */
.login-card {
    background: white;
    padding: 3rem;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    max-width: 450px;
    width: 90%;
    margin: auto;
}

/* Ajuste para el logo */
.logo-img {
    width: 150px;  /*tamaño ajustable para el logo de una universidad*/
    height: auto;
    margin-bottom: 20px;
}
